<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
      <vlan>
        {% for item in cvd_vlans %}
        <vlan-list xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-vlan">
          <id>{{ item.vlan_id }}</id>
          <name>{{ item.name }}</name>
        </vlan-list>
        {% endfor %}
      </vlan>
  </native>
</config>
