<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <name-server>
        {% for item in name_servers | default(cvd_name_servers) %}
        <no-vrf>{{ name_servers | default(cvd_name_servers) }}</no-vrf>
        {% endfor %}
      </name-server>
    </ip>
  </native>
</config>
