<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <eigrp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-eigrp">
        <id>{{ cvd_eigrp_name }}</id>

        <address-family>
          <type>ipv4</type>
          <af-ip-list>
            <unicast-multicast>unicast</unicast-multicast>
            <autonomous-system>{{ cvd_eigrp_as }}</autonomous-system>

            # FIXME
            {% for item in uplink_ports %}
            <af-interface>
              <name>{{ item }}</name>

              {% for network in cvd_eigrp_summaries %}
              <summary-address>
                <address>{{ network | ipaddr("network") }}</address>
                <mask>{{ network | ipaddr("netmask") }}</mask>
              </summary-address>
              {% endfor %}

            </af-interface>
            {% endfor %}

          </af-ip-list>
        </address-family>
      </eigrp>
    </router>
  </native>
</config>
