#jinja2: lstrip_blocks: "true"
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    {% for item in cvd_eigrp_authentication_keys %}
    <key>
      <chain xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-crypto">
        <name>{{ cvd_eigrp_name }}</name>
        <key>
          <id>{{ item.id }}</id>
          <key-string>
            <encryption>0</encryption>
            <key>{{ item.secret }}</key>
          </key-string>
        </key>
      </chain>
    </key>
    {% endfor %}

    <router>
      <eigrp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-eigrp">
        <id>{{ cvd_eigrp_name }}</id>
        <address-family>
          <type>ipv4</type>
          <af-ip-list>
            <unicast-multicast>unicast</unicast-multicast>
            <autonomous-system>{{ cvd_eigrp_as }}</autonomous-system>
            {% for interface in uplinks %}
            <af-interface>
              <name>{{ interface["interface"] }}</name>
              <authentication>
                <mode>
                  <md5/>
                </mode>
                # FIXME 
                <key-chain>{{ eigrp_auth["name"] }}</key-chain>
              </authentication>
            </af-interface>
            {% endfor %}
          </af-ip-list>
        </address-family>
      </eigrp>
    </router>

  </native>
</config>
