<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in cvd_port_channels %}
      {% if item.type | default(None) == 'routed_uplink' %}
      <Port-channel>
        <name>{{ item.id }}</name>
        <ip>
          <pim>
            <sparse-mode xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">sparse-mode</sparse-mode>
          </pim>
        </ip>
      </Port-channel>
      {% endif %}
      {% endfor %}

      {% for item in cvd_vlans %} 
      {% if item.ipv4 is defined %}
      <Vlan>
        <name>{{ item.vlan_id }}</name>
          <ip>
            <pim>
              <sparse-mode xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">sparse-mode</sparse-mode>
            </pim>
          </ip>
      </Vlan>
      {% endif %}
      {% endfor %}

    </interface>
  </native>
</config>
