<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in cvd_vlans %}
      {% if item.ipv4 %}
      <Vlan>
        <name>{{ item.vlan_id }}</name>
        <ip>
          <address>
            <primary>
              <address>{{ vlan.ipv4 | ipaddr('address') }}</address>
              <mask>{{ vlan.ipv4 | ipaddr('netmask') }}</mask>
            </primary>
          </address>

          {% if vlan.dhcp_helper is defined %}
          <helper-address>
            <address>{{ vlan.dhcp_helper }}</address>
          </helper-address>
          {% endif %}

        </ip>
      </Vlan>
      {% endif %}
      {% endfor %}

    </interface>
  </native>
</config>
