#jinja2: lstrip_blocks: "true"

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <id>{{ cvd_ospf_process_id }}</id>

        {% for item in cvd_ospf_networks %}
        {% if item.network.area != 0 %}
        <area>
          <id>{{ item.network.area }}</id>
          <stub>
            <no-summary/>
          </stub>
        </area>
        {% endif %}

        <network>
          <ip>{{ item.ipv4_network | ipaddr("network") }}</ip>
          <mask>{{ item.ipv4_network | ipaddr("wildcard") }}</mask>
          <area>{{ item.area }}</area>
        </network>
        {% endfor %}

        <passive-interface>
          <default/>
        </passive-interface>
        <router-id>{{ cvd_ospf_router_id }}</router-id>
        <nsf/>
      </ospf>
    </router>
  </native>
</config>
