<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <router>
      <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <id>{{ cvd_ospf_process_id }}</id>

        <area>
          <id>0</id>
          <authentication>
            <message-digest/>
          </authentication>
        </area>

        {#
        {% for interface in cvd_uplink_ports %}
        <interface>
          <name>{{ interface["interface"] }}</name>
          </no-passive>
        </interface>
        {% endfor %}
        #}

      </ospf>
    </router>
  </native>
</config>
