<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>

      <access-list>
        <extended xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>MCAST-SOURCES</name>
          {% for item in cvd_multicast_permitted_sources %}
          <access-list-seq-rule>
            <sequence>{{ loop.index }}</sequence>
            <ace-rule>
              <action>permit</action>
              <protocol>ip</protocol>
              <ipv4-address>{{ item | ipaddr("network") }}</ipv4-address>
              <mask>{{ item | ipaddr("wildcard") }}</mask>
              <dest-ipv4-address>{{ cvd_multicast_rp_address | ipaddr("network") }}</dest-ipv4-address>
              <dest-mask>{{ cvd_multicast_rp_address | ipaddr("wildcard") }}</dest-mask>
            </ace-rule>
          </access-list-seq-rule>
          {% endfor %}

          <access-list-seq-rule>
            <sequence>{{ cvd_multicast_permitted_sources | length + 1}}</sequence>
            <ace-rule>
              <action>deny</action>
              <protocol>ip</protocol>
              <any/>
              <dst-any/>
            </ace-rule>
          </access-list-seq-rule>
        </extended>
      </access-list>

      <pim>
        <accept-register xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-multicast">
          <list>MCAST-SOURCES</list>
        </accept-register>
      </pim>

    </ip>
  </native>
</config>
