<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <access-list>
        <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>{{ cvd_multicast_rp_announce_name }}</name>
          {% for item in cvd_multicast_rp_announce_list %}
          <access-list-seq-rule>
            <sequence>{{ loop.index + 10 }}</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>{{ item | ipaddr("network") }}</ipv4-prefix>
                <mask>{{ item | ipaddr("wildcard") }}</mask>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          {% endfor %}
        </standard>
      </access-list>
    </ip>
  </native>
</config>
