<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <snmp-server>
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ snmp_community_ro | default(cvd_snmp_community_ro) }}</name>
        <RO/>
      </community>
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ snmp_community_rw | default(cvd_snmp_community_rw) }}</name>
        <RW/>
      </community>
    </snmp-server>
  </native>
</config>
