#jinja2: lstrip_blocks: "true"
#jinja2: trim_blocks: "true"

{% set interfaces = [] %}
{% for item in cvd_access_ports %}
  {% set _ = interfaces.append(item | interface_range) %}
{% endfor %}

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in interfaces %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>
        <name>{{ interface }}</name>
        <load-interval>30</load-interval>
      </{{ item | interface_split('name') }}>
      {% endfor %}

    </interface>
  </native>
</config>
