{% set interfaces = [] %}
{% for item in cvd_access_ports %}
  {% set _ = interfaces.extend(item | interface_range) %}
{% endfor %}

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in interfaces %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>

        <switchport>
          <access xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch"></access>
          <port-security xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch">
            <maximum>
              <max-addresses>11</max-addresses>
            </maximum>
          </port-security>
        </switchport>

      </{{ item | interface_split('name') }}>
      {% endfor %}

    </interface>
  </native>
</config>
