#jinja2: lstrip_blocks: True
{% set interfaces = [] %}
{% for item in cvd_access_ports %}
  {% set _ = interfaces.extend(item | interface_range) %}
{% endfor %}
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
      {% for item in interfaces %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>
        <switchport>
          <port-security xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch">
            <violation>restrict</violation>
          </port-security>
        </switchport>
      </{{ item | interface_split('name') }}>
      {% endfor %}
    </interface>
  </native>
</config>
