{% set interfaces = [] %}
{% for item in cvd_access_ports %}
  {% set _ = interfaces.extend(item | interface_range) %}
{% endfor %}

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in interfaces %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>

        <ipv6>
          <nd>
            <raguard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-nd">
              <attach-policy>HOST_POLICY</attach-policy>
            </raguard>
          </nd>
        </ipv6>

      </{{ item | interface_split('name') }}>
      {% endfor %}

    </interface>
  </native>
</config>
