{% set interfaces = [] %}
{% for item in cvd_access_ports %}
  {% set _ = interfaces.extend(item | interface_range) %}
{% endfor %}

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in interfaces %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>

        <ip>
          <arp>
            <inspection>
              <limit>
                <rate>100</rate>
              </limit>
            </inspection>
          </arp>

          <dhcp>
            <snooping xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-dhcp">
              <limit>
                <rate>100</rate>
              </limit>
            </snooping>
          </dhcp>

        </ip>
      </{{ item | interface_split('name') }}>
      {% endfor %}

    </interface>
  </native>
</config>
