#jinja2: lstrip_blocks: "true"

{% set interface_range = cvd_access_ports | interface_range %}

<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>

      {% for item in interface_range %}
      <{{ item | interface_split('name') }}>
        <name>{{ item | interface_split('index') }}</name>

        <switchport>
          <access xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch"></access>
          <port-security xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch">
            <maximum>
              <max-addresses>11</max-addresses>
            </maximum>
          </port-security>
        </switchport>

      </{{ item | interface_split('name') }}>
      {% endfor %}

    </interface>
  </native>
</config>
