<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ip>
      <arp>
        <inspection>
          <vlan>{{ cvd_data_vlan_id }}-{{ cvd_voice_vlan_id }}</vlan>
        </inspection>
      </arp>
    </ip>
  </native>
</config>
