<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ipv6>
      <nd>
        <raguard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-nd">
          <policy>
            <raguard-policy-name>{{ cvd_ra_guard_policy_name }}</raguard-policy-name>
          </policy>
        </raguard>
      </nd>
    </ipv6>
  </native>
</config>
