<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">


    {% for interface in cvd_uplink_ports %}
    {% set index = interface | interface_split('index') %}
    {% set item = cvd_port_channels | selectattr('channel_id', 'equalto', index) | first %}

    {% for member in item.members | default([]) %}
    <interface>
      <{{ member | interface_split('name') }}>
        <name>{{ member | interface_split('index') }}</name>
          <switchport>
            <trunk xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch">
              <native>
                <vlan>{{ cvd_anti_vlan_hop_id }}</vlan>
              </native>
            </trunk>
          </switchport>
        <description>{{ interface ~ " Member" }}</description>
      </{{ member | interface_split('name') }}>
    </interface>

    <interface>
      <Port-channel>
        <name>{{ interface | interface_split('index') }}</name>
          <switchport>
            <trunk xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-switch">
              <native>
                <vlan>{{ cvd_anti_vlan_hop_id }}</vlan>
              </native>
            </trunk>
          </switchport>
        <description>{{ interface }}</description>
      </Port-channel>
    </interface>
    {% endfor %}

    {% endfor %}

  </native>
</config>
