#jinja2: lstrip_blocks: "true"
<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    <ip>
      <access-list>
        <standard xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-acl">
          <name>{{ cvd_management_acl_name }}</name>

          {% for item in cvd_management_permitted_networks %}
          <access-list-seq-rule>
            <sequence>{{ loop.index * 10 }}</sequence>
            <permit>
              <std-ace>
                <ipv4-prefix>{{ item | ipaddr("network") }}</ipv4-prefix>
                <mask>{{ item | ipaddr("wildcard") }}</mask>
              </std-ace>
            </permit>
          </access-list-seq-rule>
          {% endfor %}

        </standard>
      </access-list>
    </ip>

    <snmp-server>
      {% if cvd_snmp_community_ro %}
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ cvd_snmp_community_ro }}</name>
        <RO/>
        <access-list-name>{{ cvd_management_acl_name }}</access-list-name>
      </community>
      {% endif %}

      {% if cvd_snmp_community_rw %}
      <community xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-snmp">
        <name>{{ cvd_snmp_community_rw }}</name>
        <RW/>
        <access-list-name>{{ cvd_management_acl_name }}</access-list-name>
      </community>
      {% endif %}
    </snmp-server>

    <line>
      <vty>
        <first>0</first>
        <last>4</last>
        <access-class>

          <acccess-list>
            <direction>in</direction>
            <access-list>{{ cvd_management_acl_name }}</access-list>
            <vrf-also/>
          </acccess-list>

        </access-class>
      </vty>

      <vty>
        <first>5</first>
        <last>15</last>
        <access-class>

          <acccess-list>
            <direction>in</direction>
            <access-list>{{ cvd_management_acl_name }}</access-list>
            {% if model | string in ["3650", "3850"] %}
            <vrf-also/>
            {% endif %}
          </acccess-list>

        </access-class>
      </vty>
    </line>

  </native>
</config>
