<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <tacacs>
      {% for item in cvd_tacacs_servers %}
      <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
        <name>{{ item.name }}</name>
        <address>
          <ipv4>{{ item.address }}</ipv4>
        </address>
        <key>
          <encryption>0</encryption>
          <key>{{ item.key }}</key>
        </key>
      </server>
      {% endfor %}
    </tacacs>

    <aaa>
      <new-model xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa"/>

      {% if cvd_tacacs_server_group_name %}
      <group xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
        <server>
          <tacacsplus>
            <name>{{ cvd_tacacs_server_group_name }}</name>
            {% for item in cvd_tacacs_servers %}
            <server>
              <name>{{ item.name }}</name>
            </server>
            {% endfor %}
          </tacacsplus>
        </server>
      </group>
      {% endif %}

      <authentication xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
        <login>
          <name>default</name>
          <a1>
            <group>tacacs+</group>
          </a1>
          <a2>
            <local/>
          </a2>
        </login>
      </authentication>

      <authorization xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-aaa">
        <exec>
          <name>default</name>
          <a1>
            <group>tacacs+</group>
          </a1>
          <a2>
            <local/>
          </a2>
        </exec>
        <console/>
      </authorization>
    </aaa>

    <ip>
      <http xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-http">
        <authentication>
          <aaa/>
        </authentication>
      </http>
    </ip>

  </native>
</config>
